name: build_application
on: 
  workflow_dispatch: 
jobs:
  Deploy:
      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@v4
         - name: SonarCloud Scan 
           uses: SonarSource/sonarcloud-github-action@v2
           with: 
             args: >
               -Dsonar.projectKey=${{ secrets.SONAR_PROJECT_KEY }} 
               -Dsonar.organization=${{ secrets.SONAR_ORGANIZATION }} 
               -Dsonar.login=${{ secrets.SONAR_TOKEN }}

        
