name: build_application
on: 
  workflow_dispatch: 
jobs:
  build:
      runs-on: ubuntu-latest
      steps:
        - name: checkout_code
          uses: actions/checkout@v3
        - name: install dependencies
          run: npm ci
        - name: lint_code
          run: npm run lint
        - name: test_code
          run: npm run test
  Deploy:
      needs: build
      runs-on: ubuntu-latest
      steps:
         - name: SonarCloud Scan 
           uses: SonarSource/sonarcloud-github-action@v2
           with: 
             args: >
               -Dsonar.projectKey=${{ secrets.SONAR_PROJECT_KEY }} 
               -Dsonar.organization=${{ secrets.SONAR_ORGANIZATION }} 
               -Dsonar.login=${{ secrets.SONAR_TOKEN }}

        
